.radio {
    position: relative;
    display: block;
    margin-right: 30px;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked + {
            & .radio {
                &__name {
                    &::before {
                        border: none;
                        background: icon("radio-on.svg") no-repeat 50% / cover;
                    }
                }
            }
        }
    }
    &__name {
        margin: 0;
        padding-left: 25px;
        font-size: 1.5rem;
        line-height: 1.3;
        position: relative;
        color: $dark-100;
        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $gray-50;
            left: 0;
            top: 50%;
            margin-top: -10px;
        }
    }
}