.student-info {
	position: absolute;
	right: calc(((100% - 1170px) / 2) + 50px);
	top: 20%;
	bottom: auto;
	&__img {
		max-width: 560px;
	}
	&__text {
		max-width: 105px;
		margin: 0;
		position: absolute;
		top: 30%;
		right: -10px;
		&::before {
			content: '';
			position: absolute;
			width: 30px;
			height: 1px;
			background: rgba($white, 0.25);
			right: calc(100% + 10px);
			top: 15px;
		}
	}
	&__name {
		margin: 0;
		@include flex(column, center);
		font-size: 2.8rem;
		color: $white;
		line-height: 1.25;
		letter-spacing: -0.03em;
		& span {
			font-size: 1.5rem;
			line-height: 1.3;
			color: rgba($white, 0.5);
			margin-top: 5px;
			max-width: 75px;
		}
	}
}
