.contact-page {
    &__map {
        width: 100%;
        height: 880px;
    }
    &__title {
        margin-bottom: 35px;
    }
    &__grid {
        padding-top: 25px;
    }
    &__info {
        @include flex(column);
        &-item {
            font-family: $font, sans-serif;
            @include flex(column);
            margin: 0;
            margin-bottom: 35px;
            font-size: 2.8rem;
            line-height: 1.42;
            letter-spacing: -.05rem;
            cursor: pointer;
            & span {
                font-family: $secondary-font, sans-serif;
                display: block;
                font-size: 1.7rem;
                color: $gray-500;
                letter-spacing: 0.01em;
                pointer-events: none;
                &::before {
                    background: $primary-200;
                }
                &:hover {
                    &::before {
                        background: $primary-200;
                    }
                }
            }
            &:hover {
                color: rgba($dark, .65);
            }
            &_active {
                color: rgba($dark, .65);
                pointer-events: none;
                & span {
                    &::before {
                        background: $white;
                    }
                }
            }
        }
        &-link {
            text-decoration: none;
            &:hover {
                color: rgba($dark, .8);
            }
        }
    }
    &__email-link {
        text-decoration: none;
        &::before {
            background: $primary-200;
        }
        &:hover {
            &::before {
                background: $gray-200;
            }
        }
    }
    &__text {
        margin: 0;
        margin-top: 45px;
        font-size: 1.5rem;
        line-height: 1.3;
        color: $gray-600;
        max-width: 430px;
    }
    &__btn {
        margin-top: 15px;
        padding: 0 10px;
        height: 30px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2;
    }
    &__social {
        margin-top: 20px;
        &-link {
            width: 40px;
            height: 40px;
        }
    }
}