.category-template {
    &__select {
        padding-left: 10px;
    }
    &__wrapper {
        padding-bottom: 210px;
        &::before {
            height: 430px;
            background: image("courses-layer.svg") no-repeat center bottom;
        }
        &::after {
            content: none;
        }
    }
}