.form {
    &__input {
        height: 50px;
        width: 100%;
        position: relative;
        &-text {
            @include flex(row, center);
            margin: 0;
            width: 100%;
            height: 100%;
            font-size: 1.7rem;
            padding: 0 15px;
            padding-top: 15px;
            & span {
                color: $dark;
                @include font-weight('medium');
            }
        }
        & input {
            width: 100%;
            height: 100%;
            letter-spacing: .01em;
            position: relative;
            z-index: 1;
            border: 1px solid $primary-200;
            background: $white;
            border-radius: 5px;
            &.wpcf7-not-valid {
                border-color: $attention;
            }
            &:disabled {
                pointer-events: none;
            }
        }
        & .iti {
            & input {
                flex: 1 1 auto;
                width: auto;
                max-width: 100%;
            }
        }
        &_disabled {
            border-radius: 5px;
            & input {
                pointer-events: none;
            }
        }
        &_width {
            &-m {
                width: calc((100% - 10px)/2);
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &_filled {
						&.currency-input-wrapper {
								background: $primary-150;
								& input {
										background: $primary-150;
								}
						}
            & input {
                border-color: $primary-600;
                padding-top: 15px;
                &[type="tel"] {
                    padding-top: 0;
                }
            }
            & .form {
                &__ums-currency {
                    padding-top: 13px;
                    opacity: 1;
                }
            }
        }
        &_focused {
            & input {
                border-color: $primary-600;
                padding-top: 15px;
                &.wpcf7-not-valid {
                    border-color: $attention;
                }
            }
        }
    }
    &__select {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: icon("ums-icon-down-black.svg") no-repeat 50% / 15px auto;
            top: 15px;
            right: 20px;
            z-index: -1;
        }
        & select {
            width: 100%;
            height: 100%;
            padding: 0 15px;
            letter-spacing: .01em;
            border: 1px solid $primary-200;
            border-radius: 5px;
            &.wpcf7-not-valid {
                border-color: $attention;
            }
            &:active {
                color: $dark;
            }
        }
        &_state {
            &-active {
                &::after {
                    transform: scale(-1);
                }
                & select {
                    padding-top: 15px;
                }
            }
        }
    }
    &__label {
        position: absolute;
        display: inline-block;
        letter-spacing: .01em;
        font-size: 1.7rem;
        color: $gray-500;
        left: 15px;
        top: 50%;
        line-height: 1.3;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;
        &_active {
            font-size: 1.2rem;
            line-height: 1.25;
            top: 5px;
            transform: translateY(0);
        }
        &_position {
            &-top {
                top: 15px;
                transform: none;
                &.form {
                    &__label {
                        &_active {
                            top: 5px;
                        }
                    }
                }
            }
            &-static {
                position: static;
                transform: none;
                top: auto;
                left: auto;
                margin: 0;
            }
        }
        &_margin {
            &-b {
                &-10 {
                    margin-bottom: 10px;
                }
            }
        }
    }
    &__textarea {
        height: 100px;
        &_opened {
            display: block;
        }
        &-btn {
            @include flex(row, center);
            font-size: 1.7rem;
            letter-spacing: .01em;
            color: $gray-500;
            margin-left: 30px 15px;
            margin-bottom: 0;
            &-name {
                pointer-events: none;
            }
            & + div {
                & .form {
                    &__textarea {
                        margin-top: 15px;
                    }
                }
            }
            & svg {
                margin-left: 5px;
                transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                pointer-events: none;
            }
            &_active {
                & svg {
                    transform: rotate3d(0, 0, 1, 45deg);
                }
            }
            &_visibility {
                &-hide {
                    display: none;
                }
            }
        }
        & textarea {
            padding: 15px;
            display: block;
            width: 100%;
            height: 100%;
            border: 1px solid $primary-200;
            border-radius: 5px;
            z-index: 1;
            position: relative;
        }
        &.form {
            &__input {
                &_focused {
                    & textarea {
                        border-color: $secondary-500;
                        padding-top: 20px;
                        &.wpcf7-not-valid {
                            border-color: $attention;
                        }
                    }
                }
            }
        }
        &_visibility {
            &-hide {
                display: none;
            }
        }
    }
    &__note {
        margin: 0;
        font-size: 12px;
        margin-top: 5px;
        color: $gray-500;
        & a {
            color: $gray-500;
            text-decoration: none;
            &::before {
                background: $primary-200;
                top: calc(100% + 1px);
            }
        }
    }
    &__ums-currency {
        height: 100%;
        opacity: 0;
        pointer-events: none;
    }
    &__row {
        margin-bottom: 20px;
        &:nth-child(5) {
            margin-bottom: 20px;
        }
    }
    &__group {
        @include flex(row, center);
    }
    &__error {
        &-label {
            display: none;
            position: absolute;
            top: calc(100% + 1px);
            color: #f00;
            font-size: 1rem;
            margin-top: 1px;
            margin-left: 1px;
            &_active {
                display: block;
            }
        }
    }
    &_focused {
        & input {
            border-color: $secondary-500;
            padding-top: 15px;
            &.wpcf7-not-valid {
                border-color: $attention;
            }
        }
    }
    &_disabled {
        background: $primary-150;
        color: $dark;
        & input {
            border: 1px solid $primary-150;
        }
    }
}

span {
    &.wpcf7-form-control-wrap {
        height: 100%;
        display: block;
    }
    &.wpcf7-not-valid-tip {
        position: absolute;
        left: 0;
        top: calc(100% + 2px);
        font-size: 1rem;
    }
}

div {
     &.wpcf7-response-output {
        display: none !important;
    }
}

.help-form {
    @include flex(row, stretch, center);
    &__input {
        max-width: 300px;
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__btn {
        font-weight: normal;
    }
}

.payment-form {
    &__method {
        margin-right: 30px;
        margin-bottom: 30px;
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
	& .promocode {
		margin-bottom: 40px;
	}
	&__price {
		margin-bottom: 15px;
		& input {
			width: 25px;
			margin-right: 3px;
			padding: 0;
			font-size: 4rem;
			line-height: 1.25;
			letter-spacing: -.03em;
			font-family: $font;
			font-weight: 700;
		}
	}
    &__section {
        margin-bottom: 55px;
        &:nth-child(2) {
            margin-bottom: 25px;
        }
        &-name {
            display: block;
            font-family: $font, sans-serif;
            margin: 0;
            margin-bottom: 25px;
            letter-spacing: -.05rem;
            font-size: 2.8rem;
            line-height: 1.42;
        }
        &-options {
            @include flex(row, center, flex-start, wrap);
        }
		&-grid.grid-second {
			padding: 50px;
			padding-top: 25px;
			border: 1px solid $gray-50;
			border-radius: 10px;
		}
    }
	&__price {
		font-family: $secondary-font;
		@include flex(column);
		color: $gray-300;
		font-size: 1.7rem;
		line-height: 1.45;
		&-note {
			font-family: $secondary-font;
			position: absolute;
			left: calc(100% + 20px);
			top: 50%;
			transform: translateY(-50%);
			font-size: 1.2rem;
			line-height: 1.25;
			color: $gray-900;
			padding: .625em 1.04em;
			background: $primary-150;
			border-radius: $br-erip-installment;
			width: 300px;
			letter-spacing: normal;
			font-weight: 400;
			&::before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border: 5px solid transparent;
				border-right-color: $primary-150;
				right: 100%;
				top: 50%;
				margin-top: -5px;
			}
		}
		&-value {
			position: relative;
			margin-top: .075em;
			& span {
				font-family: $font;
				font-size: 4rem;
				line-height: 1.25;
				letter-spacing: -.03em;
				font-weight: 800;
				color: $gray-900;
			}
			&-old:first-child {
				color: $gray-100;
				text-decoration: line-through;
			}
		}
	}
	&__grid {
		margin-top: 18px;
	}
    &__input {
        max-width: 570px;
        &_width {
            &-full {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    &__select {
        &::after {
            top: 0;
            height: 100%;
            margin-top: 0;
        }
    }
}

.webpay-form {
    &__item {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        &_direction {
            &-column {
                @include flex(column);
            }
        }
    }
    &__sale-checkbox {
        margin-left: 15px;
        margin-top: 20px;
        &_state {
            &-disabled {
                opacity: .5;
                pointer-events: none;
            }
        }
    }
    &__note {
        margin: 0;
        margin-top: 40px;
        letter-spacing: .01em;
        font-size: 1.7rem;
        line-height: 1.47;
		margin-bottom: 24px;
        &-link {
            text-decoration: none;
						color: $primary-500;
            &::before {
                background: $primary-500;
								top: 100%;
            }
            &:hover {
                &::before {
                    background: $gray-200;
                }
            }
        }
    }
    &__payment {
        &-level {
            @include flex(row, center);
            padding-left: 15px;
        }
    }
    &__btn {
				font-size: 2rem;
				height: 3em;
				padding: 0 7em;
				font-weight: 400;
				margin-bottom: 10px;
				border-radius: 40px;
    }
}

.free-start-form {
    &__btn {
        width: 100%;
        max-width: none;
    }
}

.newsletter {
    background: $primary-100;
    position: relative;
    &__figure {
        bottom: 100%;
        top: auto;
    }
}

.installment-form {
    &__radio {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__btn {
        width: 100%;
        height: 60px;
        padding: 1em .85em;
        margin-top: 10px;
    }
    &__row {
        margin-bottom: 15px;
        text-align: left;
        & span.wpcf7-not-valid-tip {
            top: calc(100% + 1px);
            left: 1px;
        }
        &_mb30 {
            margin-bottom: 30px;
        }
    }
    &__privacy-checkbox {
        margin-top: 10px;
    }
}
// MEDIA
@media screen and (max-width: 991px) {
    .form {
        &__select {
            &::after {
                top: 16px;
                right: 10px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .form {
        &__select {
            &::after {
                top: 18px;
            }
        }
    }
    .payment-form {
        &__select {
            height: auto;
        }
    }
    .installment-form {
        &__row {
            &_mb30 {
                margin-bottom: 220px;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .installment-form {
        // &__btn {
        //     height: 6rem;
        //     font-size: 2rem;
        //     letter-spacing: -.03rem;
        //     font-weight: 400;
        //     width: 100%;
        // }
        // &__row {
        //     &_mb30 {
        //         margin-bottom: 205px;
        //     }
        // }
    }
}