// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.is-locked {
    overflow: hidden;
}

.link {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba($white, .2);
        top: calc(100% + 3px);
        left: 0;
    }
    &:hover {
        &::before {
            background: rgba($white, .4);
        }
    }
    &:active {
        &::before {
            background: rgba($white, .6);
        }
    }
}

.icon {
    position: relative;
    &-currency {
        position: relative;
        padding-right: 10px;
        &::after {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            top: 50%;
            right: 0;
            margin-top: -5.5px;
        }
    }
    &-ruble {
        position: relative;
        padding-right: 12px;
        &::after {
            width: 11px;
            height: 11px;
            margin-top: -5.5px;
            background: icon('currency/ruble-light.svg') no-repeat 50%;
        }
        &_color {
            &-dark {
                padding-right: 12px;
                &::after {
                    background: icon('currency/ruble-dark.svg') no-repeat 50%;
                }
            }
            &-gray {
                padding-right: 12px;
                &::after {
                    background: icon('currency/ruble-gray.svg') no-repeat 50%;
                }
            }
        }
    }
    &-dollar {
        position: relative;
        &::after {
            width: 9px;
            height: 14px;
            margin-top: -7px;
            background: icon('currency/dollar-light.svg') no-repeat 50%;
        }
        &_color {
            &-dark {
                &::after {
                    width: 9px;
                    height: 14px;
                    margin-top: -7px;
                    background: icon('currency/dollar-dark.svg') no-repeat 50%;
                }
            }
            &-gray {
                &::after {
                    width: 9px;
                    height: 14px;
                    margin-top: -7px;
                    background: icon('currency/dollar-gray.svg') no-repeat 50%;
                }
            }
        }
    }
    &-external-link {
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -7.5px;
            width: 15px;
            height: 15px;
            background: icon('icon-external-link.svg') no-repeat 50% / 15px auto;
        }
    }
}

@media screen and (max-width: 575px) {
    .icon {
        &-ruble {
            &::after {
                margin-top: -7px;
            }
            &_color {
                &-dark {
                    &::after {
                        margin-top: -6.4px;
                    }
                }
                &-gray {
                    &::after {
                        margin-top: -6.4px;
                    }
                }
            }
        }
        &-dollar {
            &::after {
                margin-top: -7.5px;
            }
            &_color {
                &-dark {
                    &::after {
                        margin-top: -8.2px;
                    }
                }
                &-gray {
                    &::after {
                        margin-top: -8.2px;
                    }
                }
            }
        }
    }
}