.pagination {
    @include flex(row, center);
    & .page-numbers {
        padding: 0 20px;
        height: 45px;
        border: 1px solid $primary-150;
        border-radius: 5px;
        color: $dark;
        font-size: 1.7rem;
        @include font-weight('medium');
        text-decoration: none;
        line-height: 45px;
        margin-right: 10px;
        &.current {
            background: linear-gradient(180deg, #33AAFF 0%, #8B24B7 127.5%);
            color: $white;
            pointer-events: none;
            border: none;
        }
        &:hover {
            border-color: $primary-200;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}