.about-page {
    &__excerpt {
        margin: 0;
        letter-spacing: -.3px;
        color: $dark-100;
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 50px;
        max-width: 800px;
    }
    &__video {
        width: 100%;
        height: 550px;
        border-radius: 5px;
				margin-bottom: 40px;
				& iframe {
					border-radius: 5px;
				}
        // background-size: cover;
        // background-position: 50%;
        // background-repeat: no-repeat;
        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     border-radius: 5px;
        //     background: image('ums-about-video-mask.svg') no-repeat 50% / cover;
        //     pointer-events: none;
        // }
        &-button {
            position: relative;
            pointer-events: none;
            z-index: 1;
        }
    }
    &__numbers {
        @include flex(row, flex-start, center);
        margin-top: 35px;
        &-item {
            @include flex(column, center);
            padding: 0 20px;
            margin: 0;
            padding-bottom: 5px;
            width: 25%;
            &-value {
                font-family: $font, sans-serif;
                @include flex(row, center, center);
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background: $primary-100;
                letter-spacing: -.03em;
                font-size: 4rem;
                color: $dark-200;
                font-weight: 800;
            }
            &-name {
                margin: 0;
                margin-top: 10px;
                letter-spacing: .01em;
                font-size: 1.7rem;
                line-height: 1.47;
            }
        }
    }
    &__section {
        margin-top: 100px;
        &-title {
            margin-bottom: 30px;
        }
        &:last-child {
            margin-top: 70px;
        }
    }
    &__content {
        & a {
            color: $dark-100;
            font-size: 2rem;
            line-height: 1.5;
            text-decoration: none;
            letter-spacing: -.3px;
            display: inline;
            border-bottom: 1px solid $gray-100;
            &:hover {
                opacity: .8;
            }
        }
        & p {
            margin: 0;
            letter-spacing: -.3px;
            color: $dark-100;
            font-size: 2rem;
            line-height: 1.5;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        & ul, ol {
            padding: 0;
            margin: 0;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            & li {
                letter-spacing: -.3px;
                color: $dark-100;
                font-size: 2rem;
                line-height: 1.5;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.team {
    @include flex(row, flex-start, flex-start, wrap);
    &__item {
        width: 33.333%;
        text-align: center;
        text-decoration: none;
        margin-bottom: 30px;
        &-img {
            max-width: 200px;
            max-height: 200px;
            margin: 0 auto;
            margin-bottom: 15px;
            border-radius: 50%;
        }
        &-name {
            margin: 0;
            letter-spacing: -.3px;
            font-size: 2rem;
            line-height: 1.5;
            color: $dark;
        }
        &-position {
            margin: 0;
            font-size: 1.5rem;
            color: $dark-100;
            margin-top: 3px;
        }
        &-link {
            letter-spacing: -.3px;
            font-size: 2rem;
            line-height: 1.5;
            color: $dark;
            text-decoration: none;
            display: inline;
            border-bottom: 1px solid $gray-100;
            &:hover {
                opacity: .8;
            }
        }
    }
}