.success-payment-page {
    padding-bottom: 0;
    &__title {
        margin-top: 45px;
        display: block;
        text-align: center;
    }
    &__content {
        margin-top: 20px;
        text-align: center;
        & p {
            margin: 0;
            font-size: 1.7rem;
            letter-spacing: .01em;
            line-height: 1.33;
        }
        & a {
            text-decoration: none;
            font-size: 1.7rem;
            letter-spacing: .01em;
            line-height: 1.33;
            &::before {
                background: $primary-200;
            }
            &:hover {
                &::before {
                    background: $gray-200;
                }
            }
        }
    }
    &__figure {
        bottom: 100%;
    }
    &__info {
        margin-top: 165px;
        padding-bottom: 200px;
        background: $primary-100;
        position: relative;
        &-wrapper {
            @include flex();
            background: $white;
            border-radius: 5px;
            box-shadow: 0 20px 20px 0 rgba(65, 1, 121, .1), 0 1px 1px 0 rgba(65, 1, 121, .1);
            padding: 40px 60px;
        }
        &-item {
            @include flex(column);
            margin: 0;
            margin-right: 30px;
            opacity: .5;
            font-size: 1.2rem;
            color: $dark-200;
            line-height: 1.3;
            width: calc((100% - 60px) / 3);
            flex: 1 1 auto;
            &:last-child {
                margin-right: 0;
            }
            &:nth-child(2n) {
                opacity: 1;
            }
            & svg {
                margin-bottom: 10px;
                width: 100%;
                max-width: 100%;
            }
        }
        &-title {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: calc(100% + 20px);
            margin: 0;
            text-align: center;
            letter-spacing: -.3px;
            color: $dark;
            font-size: 2rem;
            line-height: 1.5;
            z-index: 3;
        }
    }
}