.all-courses {
  &__wrapper {
    background: $secondary-600;
  }
	&__bold {
		font-weight: 700;
	}
	&__title {
		text-align: center;
		color: $gray-900;
	}
  &__row {
    padding: 13px 0;
		@include flex(row, center);
  }
	&__block {
		margin-top: 40px;
	}
  &__note {
    margin: 0;
		margin-right: 20px;
    position: relative;
    color: rgba($white, .8);
    font-size: 1.5rem;
    line-height: 1.33;
    padding-left: 25px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background: icon('info.svg') no-repeat 50%;
    }
  }
  &__btn {
		color: $white;
		background: $secondary-800;
		border-radius: 7px;
		font-size: 1.2rem;
		line-height: 1.25;
		padding: .42em .83em;
		&:hover {
			opacity: .85;
		}
  	}
	&-modal {
		z-index: 20;
		max-width: 540px;
		position: fixed;
		top: 40px;
		padding: 30px 70px;
		padding-bottom: 50px;
		left: calc(50% - 270px);
		box-sizing: border-box;
	}
	&__item {
		@include flex();
		margin-bottom: 32px;
		&:last-child {
			margin-bottom: 0;
		}
		&-header {
			margin: 0;
			font-size: 1.7rem;
			line-height: 1.471;
			font-weight: 700;
			margin-bottom: 3px;
			color: $dark-300;
		}
		&-text {
			margin: 0;
			font-size: 1.5rem;
			line-height: 1.33;
			color: $gray-300;
			margin-bottom: 10px;
		}
		&-btn {
			color: $white;
			font-size: 1.2rem;
			font-weight: 400;
			line-height: 1.25;
			background: $primary-600;
			padding: .42em .83em;
			border-radius: 7px;
			&:hover {
				opacity: .85;
			}
		}
		&-icon {
			width: 110px;
			height: 110px;
			border-radius: 10px;
			background-color: $secondary-50;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			flex-shrink: 0;
			margin-right: 15px;
			&[data-icon="remote"] {
				background-image: icon('webcam.svg');
			}
			&[data-icon="class"] {
				background-image: icon('meeting.svg');
			}
			&[data-icon="online"] {
				background-image: icon('video.svg');
			}
		}
	}
}