.f-lecturers-page {
    &__content {
        margin-bottom: 40px;
        & p {
            margin: 0;
            letter-spacing: -.3px;
            font-size: 1.8rem;
            line-height: 1.45;
            color: $dark-100;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.email-help {
    padding: 50px 70px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(65, 1, 121, .1), 0 1px 1px 0 rgba(65, 1, 121, .1);
    counter-reset: item;
    &__title {
        @include flex(column);
        margin: 0;
        color: $dark-100;
        font-size: 1.5rem;
        line-height: 1.3;
        margin-bottom: 10px;
        & a {
            font-family: $font, sans-serif;
            display: inline;
            color: $dark;
            text-decoration: none;
            letter-spacing: -.5px;
            font-size: 2.8rem;
            line-height: 1.43;
            border-bottom: 1px solid $primary-200;
            cursor: pointer;
            &:hover {
                opacity: .8;
            }
        }
    }
    &__grid {
        margin-top: 30px;
        &-item {
            font-size: 1.8rem;
            color: $dark-100;
            letter-spacing: -.3px;
            line-height: 1.5;
            margin-bottom: 25px;
            padding-left: 50px;
            position: relative;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                @include flex(row, center, center);
                counter-increment: item;
                content: counter(item);
                position: absolute;
                left: 0;
                top: -5px;
                width: 40px;
                height: 40px;
                color: $dark-100;
                font-size: 2rem;
                letter-spacing: -.3px;
                border-radius: 50%;
                background: $primary-100;
            }
        }
    }
}