.title {
    font-family: $font;
    margin: 0;
    font-size: 5rem;
    letter-spacing: -.03em;
    font-weight: 800;
    line-height: 1.25;
    color: $white;
    &_size {
        &-m {
            font-size: 4rem;
            letter-spacing: -.03em;
            line-height: 1.25;
        }
        &-s {
            font-size: 2.8rem;
            letter-spacing: -.03em;
            font-weight: 800;
            color: $gray-900;
        }
    }
    &_style {
        &-dark {
            color: $dark;
        }
    }
}

//Media
@media screen and (max-width: 991px) {
    .title {
        font-size: 3.5rem;
        &_size {
            &-s {
                font-size: 2.5rem;
            }
        }
    }
    .course-template {
        &__title {
            font-size: 4rem;
        }
    }
}
@media screen and (max-width: 767px) {
    .title {
        font-size: 2.8rem;
        letter-spacing: -.07rem;
        line-height: 1.25;
        &_size {
            &-s {
                font-size: 1.7rem;
            }
        }
    }
    .course-template {
        &__title {
            font-size: 4rem;
        }
    }
}