.payment-page {
    &__title {
        margin-bottom: 40px;
    }
	& .webpay-form__sale-checkbox {
		margin-left: 0;
	}
}

.payment-item {
    position: relative;
    display: block;
    width: calc((100% - 60px)/3);
    cursor: pointer;
    &__input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + {
            & .payment-item {
                &__name {
                    border-color: $primary-600;
                    &::before {
                        border: none;
                        background: linear-gradient(180deg, $lg-primary 0%, #4C2AD5 127.5%);
                    }
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__name {
        position: relative;
        @include flex(column, center, center);
        height: 160px;
        width: 100%;
        font-size: 1.7rem;
        line-height: 1.47;
        letter-spacing: .01em;
        margin: 0;
        border-radius: $br-payment-method;
        text-align: center;
        border: 1px solid $gray-50;
        padding: 0 55px;
        color: $gray-900;
        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            top: 15px;
            right: 15px;
            background: $white;
            border: 1px solid $gray-50;
        }
        &::after {
            content: '';
            position: absolute;
            width: 12px;
            height: 9px;
            background: icon('ums-icon-check.svg') no-repeat 50%;
            right: 23px;
            top: 26px;
            opacity: 0;
        }
        & span {
            color: $secondary-700;
            font-size: 1.5rem;
            line-height: 1.3;
        }
        &:hover {
            border-color: $primary-600;
        }
    }
    &[style="display: none;"] {
        & + .payment-item {
            margin-right: 30px;
        }
    }
}

.ux-mind-payment {
    &__text {
        margin: 0;
        letter-spacing: .01em;
        font-size: 1.7rem;
        line-height: 1.47;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.halva-payment {
    &__text {
        margin: 0;
        letter-spacing: .01em;
        font-size: 1.7rem;
        line-height: 1.47;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        & a {
            text-decoration: none;
            &::before {
                background: $primary-200;
                top: calc(100% + 1px);
            }
            &:hover {
                &::before {
                    background: $gray-100;
                }
            }
        }
    }
}

.erip {
    &__grid {
        margin-top: 35px;
        @include flex();
    }
    &__code-content {
        padding: 35px;
        border-radius: 5px;
        border: 1px solid $primary-200;
    }
    &__code-number {
        margin: 0;
        text-align: center;
        font-size: 1.7rem;
        line-height: 1.47;
        letter-spacing: .01em;
        margin-top: 10px;
    }
    &__info {
        margin-left: 30px;
        & p {
            margin: 0;
            line-height: 1.47;
            letter-spacing: .01em;
            font-size: 1.7rem;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        & ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            & li {
                position: relative;
                padding-left: 15px;
                font-size: 1.7rem;
                color: $dark;
                line-height: 1.33;
                margin-bottom: 8px;
                letter-spacing: 0.01em;
                font-size: 1.7rem;
                &::before {
                    content: '–';
                    position: absolute;
                    left: 0;
                    top: -1px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.bank-payment {
    &__desc {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-bottom: 40px;
        & li {
            font-size: 1.7rem;
            letter-spacing: .01em;
            line-height: 1.47;
            color: $dark;
            margin-bottom: 10px;
            padding-left: 15px;
            position: relative;
            &::before {
                content: '–';
                position: absolute;
                left: 0;
                top: -1px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            & a {
                text-decoration: none;
                &::before {
                    top: calc(100% + 1px);
                    background: $primary-200;
                }
                &:hover {
                    &::before {
                        background: $gray-100;
                    }
                }
            }
        }
    }
    &__content {
        margin: 0;
        font-size: 1.7rem;
        letter-spacing: .01em;
        line-height: 2;
        color: $dark;
    }
}

.payment-section {
    display: none;
    &_state-active {
        display: block;
    }
    &__price {
        margin: 0;
        font-family: $secondary-font;
        @include flex(column);
        color: $gray-300;
        font-size: 1.7rem;
        line-height: 1.45;
        margin-bottom: 30px;
        &-value {
            position: relative;
            font-family: $font;
            font-size: 4rem;
            line-height: 1.25;
            letter-spacing: -.03em;
            font-weight: 800;
            color: $gray-900;
            margin-top: .075em;
        }
    }
}

// MEDIA
@media screen and (max-width: 1229px) {
    .payment-section {
        &__price {
            &-value {
                &.installment-payment {
                    &__price {
                        &-value {
                            font-size: 3.5rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .payment-item {
        &[style="display: none;"] {
            & + .payment-item {
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .payment-section {
        &__price {
            &-value {
                width: 100%;
                font-size: 2.8rem;
                line-height: 1.25;
                &.installment-payment {
                    &__price {
                        &-value {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}