.menu {
	&__wrapper {
		@include flex(row, center);
	}
	&__link {
		text-decoration: none;
		font-size: 1.5rem;
		color: $white;
		padding: 5px 0;
		&::before {
			content: none;
		}
		&[aria-current="page"] {
			color: rgba($white, 0.3);
			cursor: default;
			pointer-events: none;
			&::before {
				content: none;
			}
		}
		&_style {
			&-dark {
				color: $dark;
				&[aria-current="page"] {
					color: rgba($dark, 0.3);
					cursor: default;
					pointer-events: none;
					&::before {
						content: none;
					}
				}
				&::before {
					background: $primary-200;
				}
				&:hover {
					&::before {
						background: $gray-200;
					}
				}
			}
		}
	}
	&__item {
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}
}

//Media
@media screen and (max-width: 1229px) {
	.menu {
		&__wrapper {
			@include flex(column, stretch);
		}
		&__item {
			margin: 0;
			border-bottom: 1px solid rgba($white, 0.2);
		}
		&__link {
			width: 100%;
			font-size: 1.7rem;
			letter-spacing: 0.01em;
			line-height: 1.47;
			padding: 12px 15px;
			color: $white;
			&[aria-current="page"] {
				color: rgba($white, 0.3);
				cursor: default;
				pointer-events: none;
				&::before {
					content: none;
				}
			}
			&::before {
				content: none;
			}
		}
		&__dropdown {
			position: relative;
			margin: 0;
			left: auto;
			width: 100%;
			transform: none;
			padding: 0;
			opacity: 1;
			padding-bottom: 25px;
			& .dropdown {
				&__wrapper {
					background: transparent;
					box-shadow: none;
					padding: 0;
					border-radius: 0;
					&::before {
						content: none;
					}
				}
				&__item {
					padding: 0 15px;
					margin-bottom: 20px;
					&:last-child {
						margin-bottom: 0;
					}
				}
				&__link {
					width: 100%;
					color: rgba($white, 0.7);
					font-size: 1.5rem;
					line-height: 1.3;
					padding: 0;
				}
			}
		}
	}
}
