// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$font: 'Manrope', sans-serif;
$secondary-font: 'Arial', sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Border radius
$border-radius: (
	'default': 10px,
	'video': 80px,
	'middle': 25px,
);
$br-payment-method: 20px;
$br-erip-payment: 20px;
$br-payment-message: 10px;
$br-erip-installment: 5px;
$br-course-label: 5px;
$br-adavantages-img: 15px;
$br-course-info-select: 5px;
$br-course-info-wrapper: 15px;
$br-installment-payment: 20px;
$br-info-message: 10px;

// Buttons variables
$button-height: (
	'small': 30px,
	'medium': 50px,
	'large': 60px,
);
$button-radius: (
	'default': 35px,
	'mobile': 15px,
);

// GRADIENTS
$lg-primary: #3d9ff5;
$lg-secondary: #4c2ad5;

//Colors
$white: #fff;
$dark: #211130;
$dark-100: #434e57;
$dark-200: #3c2e49;
$dark-300: #1d2d3b;
$gray-900: #112230;
$gray-700: #2e3c49;
$gray-600: #434e57;
$gray-500: #665d5d;
$gray-300: #5d6266;
$gray-200: #9d98a3;
$gray-100: #ccc6d1;
$gray-50: #e0e6eb;
$primary-50: #f0fbff;
$primary-100: #f8f0ff;
$primary-150: #f2f5f7;
$primary-200: #e6e0eb;
$primary-250: #d2f3fe;
$primary-300: #a5e4fe;
$primary-500: #2698fc;
$primary-600: #2698fc;
$primary-700: #1459b4;
$secondary: #cc30cf;
$secondary-50: #f8f0ff;
$secondary-100: #b7b3f2;
$secondary-150: #c17afc;
$secondary-200: #f2ccff;
$secondary-250: #efd2fe;
$secondary-500: #af3fff;
$secondary-600: #842ffb;
$secondary-800: #6625d8;
$secondary-700: #8800ff;
$secondary-900: #e799ff;
$attention: #f10d0c;
$brown: #743b03;
$green: #056d30;
$green-100: #13c42b;
$shadow: rgb(55, 61, 67);
$type: (
	'default': #e0e6eb,
	0: #d2f3fe,
	1: #e4fbdb,
	3: #fff6ab,
);
$type-text: (
	'default': #2e3c49,
	0: #1459b4,
	1: #26863f,
	3: #7a6615,
);
$social: (
	'vk': #45668e,
	'fb': #3b5998,
	'tg': #0088cc,
	'tw': #1da1f2,
);

//Font weight
$font-weight: (
	'normal': normal,
	'medium': 500,
	'bold': bold,
	'extra': 800,
	'heavy': 900,
);
